language: python
python:
    - 3.2
branches:
    only:
        - master

install:
    - pip install nose --use-mirrors
script:
    - nosetests

notifications:
    email:
        - ces29@googlegroups.com